.root {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

SplitPane {
	-fx-background-color: #252830;
	-fx-text-fill: #cfd2da;
	-fx-border-color: #434857;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

.split-pane-divider {
	-fx-background-color: #434857;
	-fx-padding: 0 2 0 2;
}

TextField {
	-fx-font-family: 'Open Sans';
	-fx-font-size: 14;
	-fx-padding: 8;
	-fx-background-color: #434857;
	-fx-border-color: #434857;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-radius: 3;
	-fx-text-fill: #cfd2da;
}

TextField:focused {
	-fx-text-fill: #495057;
	-fx-background-color: white;
	-fx-border-color: white;
}

ListView {
	-fx-border-color: #434857;
	-fx-text-fill: #cfd2da;
	-fx-control-inner-background: #252830;
	-fx-control-inner-background-alt: #1e2127;
}

.table-row-cell:empty {
	-fx-background-color: #252830;
}

.table-row-cell:hover {
	-fx-background-color: #434857;
}

.scroll-bar {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: rgba(0, 0, 0, .2);
	-fx-background-insets: 4 0 4 0;
	-fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: rgba(0, 0, 0, .2);
	-fx-background-insets: 0 4 0 4;
	-fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: rgba(0, 0, 0, .3);
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
	-fx-background-color: rgba(0, 0, 0, .3);
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 2em;
	-fx-padding: 5;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 2em;
	-fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0.25em;
}

.scroll-bar:vertical .increment-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0.25em;
}

.scroll-bar:horizontal .decrement-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0.25em;
}

.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0.25em;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
	-fx-background-color: transparent;
}

.corner {
	-fx-background-color: transparent;
}
