@charset "utf-8";

body {
	padding: 0 0 0 10px;
	background-color: #252830;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #cfd2da;
	width: 100%;
}

a, a:link, a:active, a:visited {
	color: #1997c6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.info-box {
	display: inline-block;
	width: 350px;
	border: 2px solid #434857;
	margin: 10px 10px 0 0;
	background-color: #1e2127;
	cursor: pointer;
}

.info-box.crafting {
	border-color: #71cced;
}

.info-box.selected {
	border-color: #A57B18;
}

.section {
	padding: 10px;
}

.section.bordered {
	border-top: 1px solid #434857;
}

.title {
	font-weight: bold;
}

.type {
	font-style: italic;
}

#debugConsole {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 250px;
	background-color: white;
	color: black;
	overflow-x: scroll;
	display: none;
	z-index: 10;
}

ul {
	margin: 0;
	padding-left: 10px;
}

ul, li {
	list-style-type: none;
}

.section > ul {
	padding-left: 0;
}
